/* height: 100vh;
	width: 100%;
	color: white;
	font: bold 6.5em/2em monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	
	background: linear-gradient(to top, #3204fd66, #9907facc), url(./Resources/login.jpg) no-repeat top center; */
.main{
	display: flex;
	flex-direction: column;
}
.login-page{
	background-color: #42056b66;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100%;
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}
