.container{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 1.5fr 1fr 8fr 1fr;
	gap: 10px;
}
.item{
	background-color: blueviolet;
}
.item a{
	grid-column: span 3;
	grid-row: span 1;
}
.item b{
	grid
}