<%- include("partials/header_1.ejs") %>

<body>
	<div class="main">
		<!-- <img src="/Images/login.jpg" alt="login-image">	 -->
		<div class="login-page">
			<h1>STAR DOCUMENT MANAGEMENT SYSTEM</h1>
			<%- include("partials/login.ejs") %>

		</div>
	</div>
	
</body>
</html>
<%- include("partials/footer.ejs") %>