<div class="mtoggle">
	<span>
		<img src="/Images/icons8-folder-50.png" alt="">
		<h3>#Team</h3>
	</span>
	<div>
		<form action="/about" method="post" class="modify_fm">
			<label class="mlabel" for="Name">Name</label>
			<input type="text" name="name" required>
			<label class="mlabel" for="tags">Tags</label>
			<input type="text" name="tag">
			<span style="display: flex; margin: 10px;">
				<label class="date" for="date">Date</label>
				<input type="date" name="date" required>
				<label for="due-date" class="date">Due Date</label>
				<input type="date" name="date">
			</span>
			<label class="mlabel" for="doc-number">Document Number</label>
			<input type="number" name="doc-number">
			<label for="notes">Notes</label>
			<textarea name="textarea"></textarea>
			<span class="modify_btn">
				<button class="cancel" id="cancel_modify">Cancel</button>
				<button type="submit" id="submit_modify">Submit</button>				
			</span>
		</form>
	</div>
</div>